<div class="span6">    
	<div class="row-fluid">
            <div class="span6">
              <div class="editor-container">
                <ul class="nav nav-pills" id="app-tabs">
                </ul>
                <div id="editor" class="editor">
				
				</div>
              </div>
            </div>
    </div>
</div>	  