<div class="span2">
    <ul class="nav nav-pills nav-stacked">
            <li class="disabled"><a href="#home">Team</a></li>
    </ul>
    <div class="tab-content">
            <div class="tab-pane active" id="team">
              <div style="text-align: center; margin-bottom: -2px; ">
                <input type="text" placeholder="Team message"
                       class="input-large" id="team-message">
              </div>
              <div id="teamlog" class="event-log well"
                     style="height: 582px;">
              </div>
            </div>
    </div>
</div>