<style>
/* Footer
-------------------------------------------------- */

footer {
margin-top:70px;
display: block;
background: white;
border-top: 1px solid #e5e5e5;
background-color: white;
text-align: center;
}

footer p {
  margin-bottom: 0;
  color: #777;
}

footer nav{
margin: 20px 45px 5px 30px;
display: block;
}

footer  ul  {
}
footer  ul li {
   float:left;
   list-style: none;
   margin-left:10px;
}
</style>
<footer class=''>
  <nav id='footer-nav'>
    <ul class='footer-links  span8 offset2'>
       <li><a href="/contact_us">Contact</a></li>
       <li class='hiring'><a href="/team/coderwall">Team</a></li>
       <li><a href="/blog">Blog</a></li>
       <li><a href="/api">API &amp; Hacks</a></li>
       <li><a href="/faq">FAQ</a></li>
       <li><a href="/privacy_policy">Privacy Policy</a></li>
       <li><a href="/tos">Terms of Service</a></li>
       <li><a href="http://shop.coderwall.com/">Shop</a></li>
       <li><a href="/jobs">Jobs</a></li>
       <li class='employers'><a href="/employers">Employers</a></li>
    </ul>
    <ul class='copyright span4 offset2'>
        <li><small>Copyright &copy; <%= locals.year %> Fablab Inc. All rights reserved.</small></li>
    </ul>
    <ul class='credits span4 offset2'>
       <li></li>
    </ul>
	
	<div class="container-fluid">
		<a href="#" id="scrollTop">scroll to top</a>
	</div>
  </nav>
</footer>