<style>
.press-section ul {
padding: 60px 0;
}

press-section  li {
display: block;
float: left;
margin: 0 30px;
}

.press-section  li a {
margin-top: 8px;
height: 22px;
display: block;
background: transparent url("http://www.skillshare.com/images/homepage/sprite-press.png") 0 -9px no-repeat;
text-indent: -9999px;
}

.press-section  li.press-nyt a {
width: 158px;
}

.press-section  li {
display: block;
float: left;
margin: 0 30px;
}

.press-section  li.press-fastcompany a {
width: 111px;
background-position: -345px -9px;
}

.press-section  li.press-today a {
margin-top: 0;
width: 53px;
height: 39px;
background-position: -522px 0;
}

.press-section  li.press-mashable a {
width: 102px;
background-position: -647px -9px;
}

.press-section  li.press-techcrunch a {
width: 116px;
background-position: -814px -9px;
}

</style>

<div class="press-section">
    <div class="center-page">
        <ul class="row">
            <li class="press-nyt span1"><a target="_blank" href="http://bits.blogs.nytimes.com/2011/08/16/skillshare-raises-3-1-million-to-turn-everyone-into-teachers/">The New York Times</a></li>
            <li class="press-ted span1"><a target="_blank" href="http://blog.ted.com/2012/07/17/fellows-in-the-field-michael-karnjanaprakorn-envisions-everyone-as-student-and-teacher/">TED</a></li>
            <li class="press-fastcompany span1"><a target="_blank" href="http://www.fastcompany.com/most-creative-people/2012/michael-karnjanaprakorn">FastCompany</a></li>
            <li class="press-today span1"><a target="_blank" href="http://video.today.msnbc.msn.com/today/49388494#49388494">The Today Show</a></li>
            <li class="press-mashable span1"><a target="_blank" href="http://mashable.com/2012/01/08/6-startups-to-watch-in-2012/">Mashable</a></li>
            <li class="press-techcrunch span1"><a target="_blank" href="http://techcrunch.com/2012/08/07/skillshare-hybrid-classes/">TechCrunch</a></li>
        </ul>
    </div>
</div>