<!--   http://bootsnipp.com/snipps/honors-or-badges#  -->			
<div class="row">
  <div class="span3">
    <div class="page-header">
      <p class="pull-right"><a href="#">see all</a></p>
      <h4>Honors <small>(10)</small></h4>
    </div>
	<div>
    	<a href="#"><img src="http://placehold.it/60x60" class="img-circle"></a>
        <a href="#"><img src="http://placehold.it/60x60" class="img-circle"></a>
        <a href="#"><img src="http://placehold.it/60x60" class="img-circle"></a>
        <a href="#"><img src="http://placehold.it/60x60" class="img-circle"></a>
        <a href="#"><img src="http://placehold.it/60x60" class="img-circle"></a>
        <a href="#"><img src="http://placehold.it/60x60" class="img-circle"></a>
        <a href="#"><img src="http://placehold.it/60x60" class="img-circle"></a>
	</div>
  </div>
</div>