<div class="row">
	<div class="span5">
      <h4><a href="#">Lesson 1</a></h4>
      <p>Overview of the course, prerequisites, instructor contact information, syllabus, location information</p>
	</div>
  	<div class="span3">
      Progress: <span class="pull-right strong">36%</span>
      <div class="progress">
	            <div class="bar" style="width: 36%;"></div>
	  </div>
  	</div>
</div>
<hr>

<div class="row">
	<div class="span5">
      <h4><a href="#">Lesson 2</a></h4>
      <p>Details about world history, geography of the ancient world, literature and resources</p>
	</div>
  	<div class="span3">
      Progress: <span class="pull-right strong">10%</span>
      <div class="progress">
	            <div class="bar" style="width: 10%;"></div>
	  </div>
  	</div>
</div>
<hr>


<!--  http://bootsnipp.com/snipps/lesson-plan-example  -->
<div class="row">
	<div class="span5">
      <h4><a href="#">Lesson 3</a></h4>
      <p>Pop quiz on the material learned so far, reading of Socrates and watching a movie "Ancient Greece".</p>
	</div>
  	<div class="span3">
      Progress: <span class="pull-right strong">0%</span>
      <div class="progress">
	            <div class="bar" style="width: 0%;"></div>
	  </div>
  	</div>
</div>
<hr>