<div class="hero-unit">
	<h1>Welcome!</h1>
	<p>Simply drag your file here and copy the link provided</p>
	<p>  <input action="/file/upload" id="fileupload" type="file" name="image" /> </p>	 
	<div class="progress progress-striped active" id="upload-progress-bar">
		<div class="bar"></div>
	</div>
	<div id="download-link"></div>
</div>
