<section class="box">
  <div class="set">
    <h1>See a sunset this summer</h1>
    <span class="fontawesome-pencil"></span>
    <span class="fontawesome-calendar"></span>
    <span class="fontawesome-trash"></span>
    <p>23.06</p>
  </div>
</section>

<section class="orange box">
  <div class="set">
    <h1>Get fit for spring break</h1>
    <span class="fontawesome-pencil"></span>
    <span class="fontawesome-calendar"></span>
    <span class="fontawesome-trash"></span>
    <p>23.06</p>
  </div>
</section>

<style>
@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

* {
  -webkit-box-sizing: border-box;
}



section.box {
  float: left;
  margin-right: 20px;
  width:280px;
  height: 200px;
  background: url(http://wallpaperdreams.com/wallpapers/macro_of_ice_melting_in_a_street_at_dusk_with_blurred_lights_in_the_background.1920x1200.b3af0ae7.jpg) #249ed7;
  background-size: 280px 200px;
  box-shadow: 0 4px 15px -4px #000;
}

div.set {
  background: #48b1e1;
  width: 190px;
  height: 200px;
  float: right;
  padding: 0 10px 0 20px;
}

.box h1 {
  font-size: 1.5em;
  color: #eee;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}



[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  color: #eee;
  margin-right: 12px;
}

[class="fontawesome-trash"]:before {
  
  
}

.box p {
  background:rgba(255, 255, 255, .2);
  margin:35px 0 0 80px;
  width:90px;
  color: #eee;
  font-family: sans-serif;
  font-weight: 100;
  font-size: .7em;
  padding: 8px 0px 8px 14px;
  border-radius: 50px 0 0 50px;
}

.orange {
  background: url(http://digital-photography-school.com/wp-content/uploads/2007/08/movement-blur-1.jpg) -90px 0;
  background-size: 280px 200px;
}
.orange div {background: #e76f50;}

</style>