<style>
.U0t4ad .lJpE1b {
background-color: #65b045;
}

.oeIGR .fpUA6 {
width: 360px;
}

.fpUA6 {
-webkit-border-radius: 3px;
border-radius: 3px;
display: inline-block;
overflow-x: hidden;
position: relative;
vertical-align: top;
white-space: normal;
}

.U0t4ad .SAnnZ {
color: #fff;
position: absolute;
right: 20px;
top: 40px;
width: 60px;
z-index: 2;
}

.U0t4ad .gDokac {
display: block;
height: 60px;
padding: 0;
width: 60px;
}

.rIAFWc {
-webkit-border-radius: 4px;
border-radius: 4px;
background: #3eb157;
float: left;
height: 6px;
overflow: hidden;
position: relative;
}

.U0t4ad .QMxCPd {
color: #fff;
font-size: 14px;
padding-top: 7px;
text-align: center;
width: 60px;
}

.QMxCPd {
color: #999;
display: table-cell;
vertical-align: top;
white-space: nowrap;
}

.YfBvlf {
color: #666;
min-height: 130px;
padding: 0 20px;
position: relative;
}

.U0t4ad .g7yfCb {
float: none;
height: 24px;
margin: 0;
position: absolute;
right: 38px;
top: 38px;
width: 24px;
}

.U0t4ad .wXoQuf {
filter: alpha(opacity=55);
opacity: .55;
color: #fff;
font-size: 14px;
margin-top: 20px;
margin-bottom: 20px;
}

.OR6KYe {
color: #fff;
margin-top: 0;
width: 100%;
}

.U0t4ad .Uauw7c {
font-weight: lighter;
margin-bottom: 3px;
margin-right: 85px;
}

.oeIGR .U0t4ad .Wxr9zf {
font-size: 13px;
}

.U0t4ad .LQA98e {
filter: alpha(opacity=0);
opacity: 0;
background: no-repeat url(//ssl.gstatic.com/s2/oz/images/sprites/profile_completion_showroom-9fe66a959addbf415923b8e0847e99d3.png) -17px -541px;
height: 16px;
position: absolute;
right: 15px;
top: -5px;
width: 16px;
}

.p4w0O {
-webkit-box-sizing: border-box;
box-sizing: border-box;
overflow: auto;
padding: 25px 20px 20px 20px;
width: 100%;
}

.c-b-haDnnc {
-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
box-shadow: 0 1px 0 rgba(0,0,0,.05);
background-color: #fff;
background-image: -webkit-linear-gradient(top,transparent,transparent);
background-image: linear-gradient(top,transparent,transparent);
color: #404040;
border: 1px solid #d9d9d9;
border: 1px solid rgba(0,0,0,.15);
}

.NjJbNb {
-webkit-border-radius: 2px 2px 2px 2px;
border-radius: 2px 2px 2px 2px;
bottom: 0;
display: inline-block;
float: right;
overflow: auto;
vertical-align: bottom;
}

.YSxn4d {
-webkit-border-radius: 0 2px 2px 0;
border-radius: 0 2px 2px 0;
display: inline;
}

.W9XnE {
background: no-repeat url(//ssl.gstatic.com/s2/oz/images/sprites/profile_completion_showroom-9fe66a959addbf415923b8e0847e99d3.png) -34px -541px;
height: 16px;
margin: 7px 0 0 11px;
width: 16px;
}
</style>			
			
            <div class="fpUA6 KSvBrb lJpE1b" pcid="sbnd">
			    <div class="SAnnZ">
				    <div class="gDokac qatZI ap9oQd ua-ya-gb DJnbW" role="progressbar" aria-live="polite">
					    <div class="SB6kHd">
					       <div class="ua-ya-jb rIAFWc" style="width: 0%;"></div>
					    </div>
					</div>
					<div class="QMxCPd SOSqIf">25%</div>
				</div>
				<div class="YfBvlf">
					<div class="MLxEKf g7yfCb"> 
						<div class="OU4cfe wi4k7b"></div>
					</div>
					<div class="wXoQuf">Complete your profile</div>
					<div class="OR6KYe"><div class="Uauw7c">When is your birthday?</div>
						<div class="Wxr9zf">Let your friends wish you a happy birthday.</div>
					</div>		
					<div class="i3j6i Fca LQA98e"></div>
				</div>
					
				<div class="p4w0O">
					<div class="eNyU8d">
					     <div role="button" class="a-f-e c-b c-b-haDnnc qMtnT jw252c MdBgLd" tabindex="0" style="-webkit-user-select: none;" aria-disabled="false">Add your birthday</div>
					</div>
					<div class="NjJbNb zkYPic">
					    <div class="y1E2gb YSxn4d J4Mb7e ePuiEb" tabindex="0" title="Next">
					        <div class="W9XnE"></div>
					    </div>
					    <div class="y1E2gb fX9in FuZXjf uH5Zpb" tabindex="-1" title="">
					        <div class="CUk6qc"></div>
					    </div>
					</div>
				</div>
			</div>