<div id="heart">
    <div class="fill"></div>
    <div class="outline"></div>	
</div>

<style>
#heart {
    display:block;
    height:70px;
    width:70px;
    position:relative;
}


#heart .outline {
    position: relative;
    margin-left: 8px;
}
#heart .outline:before, #heart .outline:after {
    position: absolute;
    content:"";
    left: 28px;
    top: 1px;
    width: 39px;
    height: 62px;
    background: #d53423;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 85px 60px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
#heart .outline:after {
    left: -11px;
    -webkit-transform: rotate(45deg);
    border-radius: 45px 60px 0 0;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}





#heart .fill {
    display: block;
    height: 70px;
    left: -1px;
    overflow: hidden;
    position: absolute;
    top: -4px;
    width: 70px;
    z-index: 3;
    -webkit-transition: height 2s ease-in-out;
    -moz-transition: height 2s ease-in-out;
    -o-transition: height 2s ease-in-out;
    -ms-transition: height 2s ease-in-out;
    transition: height 2s ease-in-out;
}
#heart .fill:before, #heart .fill:after {
    background: #e74c3c;
    border-radius: 85px 60px 0 0;
    content:"";
    height: 59px;
    left: 37px;
    position: absolute;
    top: 6px;
    width: 36px;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 85px 60px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
#heart .fill:after {
    left: 1px;
    -webkit-transform: rotate(45deg);
    border-radius: 45px 60px 0 0;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
#heart:hover .fill {
    height:0px;
}

</style>